<div class="container" style="padding-top: 150px; padding-left: 250px; width: auto">
    <div class="tm-block-col tm-col-account-settings">
        <div class="tm-bg-primary-dark tm-block tm-block-settings">
          <h2 class="tm-block-title">Update Team Data</h2>
          <form  class="tm-signup-form row" [formGroup]="updateForm" (submit)="onUpdate()">
            <div class="form-group col-lg-12">
              <label for="name">Team Name</label>
              <input id="name" type="text" class="form-control validate" formControlName="team_name"/>
              <span class="help-block" *ngIf="!updateForm.get('team_name').valid && updateForm.get('team_name').touched">Please Enter Team Name</span>
            </div>
            <div class="form-group col-lg-12">
              <label for="email">Team Logo</label>
              <br>
              
              <img src="{{logo}}" class="img-circle" alt="no img" width="50" height="35">

              <input name="image"  (change)="onFileSelect($event)" formControlName="team_image" type="file" id="fileName" accept=".jpg,.jpeg,.png"   style="padding-left: 25px"/>
            
            </div>
            <br>
            <div class="form-group col-lg-12">
                <label for="desc">Team Desc</label>
               
                <input
                  id="desc"
                  formControlName="team_desc"
                  type="text"
                  class="form-control validate"
                 
                />
                <span class="help-block" *ngIf="!updateForm.get('team_desc').valid && updateForm.get('team_desc').touched">Please Enter Team Description</span>
              </div>
              <div class="col-12">
              <button
                type="submit"
                class="btn btn-primary btn-block text-uppercase">
              
                Update Team Data
              </button>
            </div>
          </form>
        </div>
      </div>
    </div> 
