<div class="container tm-mt-big tm-mb-big">
        <div class="row">
          <div class="col-12 mx-auto tm-login-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
              <div class="row">
                <div class="col-12 text-center">
                  <h2 class="tm-block-title mb-4">Add Team Data</h2>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <form class="tm-login-form" [formGroup]="addForm" (submit)="addData()" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="username">Team Name</label>
                      <input                       
                        type="text"
                        class="form-control validate"
                         placeholder="Please Enter Team Name"  
                         formControlName="team_name"                       
                      />
                    </div>
                    <div class="form-group">
                            <label for="username">Team Logo</label>
                            <input                            
                              type="file"
                              class="form-control validate"
                              accept=".jpg,.jpeg,.png"                         
                              formControlName="team_image"      
                              (change)="onFileSelect($event)"                
                            />
                          </div>
                          
                    <div class="form-group mt-3">
                      <label for="password">Team Description</label>
                      <input
                        type="text"
                        class="form-control validate"
                        placeholder="Please Enter Description"
                        formControlName="team_desc"                       
                      />
                    </div>
                    <div class="form-group mt-4">
                      <button
                        type="submit"
                        class="btn btn-primary btn-block text-uppercase">                      
                        Add Team
                      </button>
                    </div>
                   
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>