<div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-12 mx-auto tm-login-col">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="tm-block-title mb-4">Forgot Password</h2>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <form class="tm-login-form" [formGroup]="forgetDataForm" (submit)="sendMail()">
                <div class="form-group">
                  <label for="username">Email ID :</label>
                  <input
                    name="username"
                    type="email"
                    class="form-control validate"
                    id="username"
                    placeholder="Please Enter Email"  
                    formControlName="a_email"
                  />
                  <br>
                  <span class="help-block" *ngIf="!forgetDataForm.get('a_email').valid && forgetDataForm.get('a_email').touched">Please Enter Valid Email</span>
                </div>
              

                <div class="form-group mt-4">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block text-uppercase"> Send Mail
                  </button>
                </div>
                
              </form>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
