
<nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <a class="navbar-brand" href="index.html">
                <h1 class="tm-site-title mb-0">Admin Panel</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" routerLink="/">
                            <i class="fas fa-tachometer-alt"></i>
                            Dashboard
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="auth.isLoggedIN()">
    
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-file-alt"></i>
                            <span>
                                Models <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="">Users</a>
                            <a class="dropdown-item" routerLink="/team">Teams</a>
                            <a class="dropdown-item" routerLink="/player">Players</a>
                            <a class="dropdown-item" routerLink="">Matches</a>
                            <a class="dropdown-item" routerLink="/feed">Feeds</a>
                            
                        </div>
                    </li>
                    <li class="nav-item" *ngIf="auth.isLoggedIN()">
                        <a class="nav-link" routerLink="/profile" >
                            <i class="fas fa-user"></i>
                            Profile
                        </a>
                    </li>
    
                   
                
                </ul>
                <ul class="navbar-nav" *ngIf="!auth.isLoggedIN()">
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/login">
                                <i class="fas fa-sign-in-alt"></i>
                                Sign In
                            </a>
                        </li>
                    </ul>
                <ul class="navbar-nav" *ngIf="auth.isLoggedIN()">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" (click)="auth.logout()">
                            <i class="fas fa-sign-out-alt"></i>
                            Sign Out
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
    
    </nav>
    
    